############################################################
# Nextflow runtime
############################################################
work/
.nextflow/
.nextflow.log*
.init.done

############################################################
# Logs (keep directory, ignore contents)
############################################################
logs/*
!logs/.gitkeep

############################################################
# Runtime data (NÃO versionar)
############################################################

# Sequencing data (keep directory, ignore contents)
reads/*
!reads/.gitkeep

# Real user inputs (allow only template)
input/*
!input/input_table.xlsx

# Analysis outputs
results/

############################################################
# Databases (runtime / large / regenerable)
############################################################

# Kaiju database (keep structure, ignore contents)
database/kaiju/*
!database/kaiju/db/
database/kaiju/db/*
!database/kaiju/db/.gitkeep

# Future DBs (keep references only)


############################################################
# OS / editor junk
############################################################
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp

############################################################
# Python / Conda / environments
############################################################
__pycache__/
*.pyc
*.pyo
.env
*.conda
*.mamba

############################################################
# Allow versioned reference & assets
############################################################
!database/omsCatalog/
!database/omsCatalog/**
!database/mtbRef/
!database/mtbRef/**

# Assets (keep structure, ignore runtime tools content)
assets/*
!assets/demo/
!assets/templates/
!assets/tools/
assets/tools/*
!assets/tools/.gitkeep

############################################################
# Scripts
############################################################
!bin/
!bin/**
